<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<html lang="en">
<head>

    <meta charset="UTF-8">
    <title class="lan_Menu_Head">Bestellung</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/ionic/1.0.0/css/ionic.min.css">
    <link rel="stylesheet" href={{ url_for('static', filename='AlaCarte/css/Main.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='AlaCarte/css/reset.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='AlaCarte/css/style.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='AlaCarte/css/pages/menu.css') }}>

</head>

	<style>
		#confirmButton{

			color: rgb(253, 73, 74);
		}
		.col{
			padding: 0!important;
		}
		#menuAmount{
			line-height: 30px;
			color: white;
		}
		.content_bottom_right {
			width: 90px;
			height: 90%;
			float: left;
			margin: 5px 0 0 0;
		}
		.content_bottom_right img{
			width: 30px!important;
			height: 30px!important;
		}
	</style>
<body>

	<div class="zy_top">
          <div class="zy_return">
              <a href="javascript:history.back(-1)"></a>
          </div>
      </div>

<div class="menu_con">
<a href="#cd-nav" class="cd-nav-trigger">
    <span class=" lan_Menu_Button_Discribe">Menu</span>
    <span class="cd-nav-icon"></span>
    <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
        <circle fill="transparent" stroke="#656e79" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
    </svg>
</a>
<div class="cd-cart-container empty">
    <a href="#0" class="cd-cart-trigger ">
        <span class="lan_Cart_Button_Discribe">Cart</span>
        <ul class="count"> <!-- cart items count -->
            <li>0</li>
            <li>0</li>
        </ul> <!-- .count -->
    </a>

    <div class="cd-cart">
        <div class="wrapper">
            <header>
                <h2 class="tableName">Cart</h2>
                <span class="undo lan_Item_Remove">Item removed. <a class="lan_Undo" href="#0">Undo</a></span>
            </header>

            <div class="body">
                <ul>
                    <!-- products added to the cart will be inserted here using JavaScript -->
                </ul>
            </div>

            <footer>
                <a href="#0" onclick="sendOrder()" class=" checkout btn"><em>
                    <ee class="lan_SendOrder">下单</ee>
                    <label id="eurUnit">- €</label>
                    <span>0</span>
                </em>
                </a>
            </footer>
        </div>
    </div> <!-- .cd-cart -->
</div> <!-- cd-cart-container -->



<div id="cd-nav" class="cd-nav">
    <div class="cd-navigation-wrapper">
        <div class="cd-half-block">


            <nav>
                <ul id="sideMenu" class="cd-primary-nav">
                </ul>
            </nav>
        </div>


    </div>
</div>
<main class="shadow" id="totalContainer">





</main>

<div class="fullScreenFloatLayer"  id="detailPage">
    <div class="ftotalLine">
        <button class="left lan_Back" ></button>
        <button  id="confirmButton" class="right  cd-add-to-cart lan_Confirm">确定</button>
    </div>
    <div class="functionPanel">
        <div class="fName" id="detailName">NameName</div>
        <div class="fInfo"><span class="lan_Price">价格</span>：<span id="detailPrice" class="itemPrice">16元</span><span class="itemUnit"> / 个</span></div>
        <div class="row" style="border-radius:30px;border:1px solid #dddddd;font-size:1.5em;width:80%;margin-left:10%;line-height: 30px; overflow: hidden;margin-top:10px;background: rgb(187, 147, 95);">
            <div class="content_bottom_left" onclick="menuItemMinus()"><img style="width: 30px;height: 30px;" src="../img/part2.jpg" alt=""></div>
            <div id="menuAmount" class="col col-60 ng-binding" >1</div>
            <div class="content_bottom_left" onclick="menuItemPlus()"><img style="width: 30px;height: 30px;" src="../img/part3.jpg" alt=""></div>
        </div>
    </div>
	<div class="itemTitle lan_Product_Discribe" style="background-image: none!important;border-radius: 15px; margin: 10px 0; background-color: white;">产品简介</div>
    <div class="contents">

        <img id="imagename" src="../resource/image/foto.jpg">
        <div class="describe" id="detailDescribe">

        </div>

    </div>
</div>

</div>

<script>
    $(function(){
        if(!IsBusinessHours()){
            alert(String.BusinessHoursMsg);
            navigateTo('confirm.html'+param);
        }
    })
</script>

<script src={{ url_for('static', filename='AlaCarte/js/jquery-2.1.1.js') }}></script>
<script src={{ url_for('static', filename='AlaCarte/js/common/Strings.js') }}></script>
<script src={{ url_for('static', filename='AlaCarte/js/common/common.js') }}></script>
<script src={{ url_for('static', filename='AlaCarte/js/common/main.js') }}></script>
<script src={{ url_for('static', filename='AlaCarte/js/pages/menu_cart.js') }}></script>
<script src={{ url_for('static', filename='AlaCarte/js/pages/menu.js') }}></script>


</body>
</html>
