*{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
.part{
  width:100%;
  height:100%;
  background: url(../img/bg2.png)
}
.top{
  width:100%;
  height: 10em;
  background: #FFF;
}
.zy_return{
  float: left;
  width:10%;
  height:6rem;
  margin: 2rem 0 0 2rem;
}
.zy_return a{
  width:100%;
  height:100%;
  float: left;
}
.zy_return img{
  width:100%;
  height:100%;
}
.content_big{
  margin-top: 5%;
  width:100%;
  height:80%;
  float: left;
}
.content{
  width:100%;
  height:10%;
  float: left;
  background: rgb(244, 237, 227);
  font-size:45px;
  line-height: 140px;
  text-indent: 35px;
}
.content_right{
  margin:3% 4% 0 0;
  width:10%;
  height:60%;
  float: right;
}
.ceshi{
  width:100%;
  height:20%;
  float: left;
  background: #FFF;
}
.ceshi dl{
  width:80%;
  height:80%;
  margin:3% 0 0 5%;
  background: url(../img/ceshi.png) no-repeat;
  text-align: center;
}
.ceshi dl dd{
  width:95%;
  height:30%;
  font-size: 45px;
  font-weight:bold;
}
.ceshi dl dt{
  width:95%;
  height:70%;
  float: left;
  font-size: 30px;
  margin-left:6%;
}
.ceshi a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}
