{% extends "base.html" %}


{% block css %}




{% endblock %}



{% block title %}



{% endblock %}


{% block content %}


      <div class="text-center">

              <div class="error mx-auto" data-text="404">404</div>
              <p class="lead text-gray-800 mb-5">WOW!!出错啦....</p>
              <button type="button" name="button" class="btn btn-secondary">

                <a style="color: rgb(247, 249, 252)" href={{ referrer }}>返回</a>

              </button>

      </div>


{% endblock %}
