{% extends "base.html" %}


{% block css %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<style media="screen">


  #back {
    margin-left: 815px;
    margin-bottom:20px;
  }

</style>


{% endblock %}



{% block title %}


<h1 class="h3 mb-2 text-gray-800">{{ title }}</h1>

{% endblock %}


{% block content %}


  <div class="container">


    <div class="alert alert-danger" role="alert" style="display:none" id="error">

    </div>

    <div class="alert alert-success" role="alert" style="display:none" id="success">

    </div>


  </div>


    <div class='form-group'>


        <p>
            <label for="name">桌子名称</label> <br>
            <input class="form-control" id="name" name="name" placeholder="请输入桌子名称" required style="width: 50%" type="text" value="">
        </p>


        <p>

          <label for="persons">桌子人数</label><br>
          <input class="form-control" id="persons" name="persons" placeholder="请输入桌子人数" required style="width: 50%" type="text" value="">

        </p>


        <p>

            <label for="section">桌子分区</label><br>
            <select class="form-control" id="section" name="section" required style="width: 50%"><option value="Please select section">请选择分区</option><option value="A">A</option><option value="B">B</option><option value="C">C</option><option value="D">D</option><option value="E">E</option><option value="F">F</option><option value="G">G</option><option value="H">H</option><option value="I">I</option><option value="J">J</option><option value="K">K</option><option value="L">L</option><option value="M">M</option><option value="N">N</option><option value="O">O</option><option value="P">P</option><option value="Q">Q</option><option value="R">R</option><option value="S">S</option><option value="T">T</option><option value="U">U</option><option value="V">V</option><option value="W">W</option><option value="X">X</option><option value="Y">Y</option><option value="Z">Z</option></select>

        </p>


        <p>

            <input class="btn btn-info" id="submit" name="submit" style="border-color:#26a69a; background-color:#26a69a;" type="submit" value="确认添加">
            <button type="button" class="btn btn-secondary">
              <a href=/tables/add style="color: rgb(247, 249, 252)">
                重置
              </a>
            </button>

        </p>



    </div>


<br>
<button type="button" class="btn btn-secondary" id="back">
  <a style="color: rgb(247, 249, 252)" href={{ url_for('view_tables') }}>
    返回
  </a>
</button>


{% endblock %}




{% block scripts %}


<script src={{ url_for('static', filename="js/add_table.js") }}>

</script>


{% endblock %}
