{% extends "base.html" %}


{% block title %}


<h1 class="h3 mb-2 text-gray-800">{{title}}</h1>
<br>

{% endblock %}


{% block content %}




<form method="POST" enctype="multipart/form-data">

    {{ form.hidden_tag() }}

    <div class='form-group'>

        <p>
            {{ form.name_class.label }} <br>
            {{ form.name_class(class="form-control", style="width:50%") }}
        </p>



        <p>
            {{ form.new_category.label }} <br>
            {{ form.new_category(placeholder="输入新分类名称", class="form-control", style="width:50%") }}
        </p>



         <p>

            {{ form.unit_en.label }}<br>
            {{ form.unit_en(placeholder="请输入计量单位", class="form-control", style="width:50%")}}

        </p>



        <p>

            {{ form.submit(class='btn btn-info', style="border-color:#26a69a; background-color:#26a69a;")}}
            <button type="button" class="btn btn-secondary">
              <a href="{{ referrer }}" style="color: rgb(247, 249, 252)">
                取消
              </a>
            </button>

        </p>


    </div>



</form>




{% endblock %}
