{% extends 'base.html' %}


{% block css %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<style>
    .column {
      float: left;
      width: 21%;
      margin-left: 30px;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;}

    .a {color: rgb(247, 249, 252)

    }
</style>
{% endblock %}


{% block title %}

<h1 class="h3 mb-2 text-gray-800">已点餐桌子</h1>
<hr>
<button type="button" class="btn btn-secondary">
  <a href={{ url_for('index') }} style="color: rgb(247, 249, 252)">
    返回
  </a>
</button>



{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}

  {% if messages %}

    {% for message in messages %}

    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>

    {% endfor %}

  {% endif %}

{% endwith %}

<form class="form-inline" action='' method="POST" enctype="multipart/form-data">

    {{ form.hidden_tag() }}

    搜索桌号：
    {{ form.select_table(
      class='form-control',
      style="width: 25%") }}
    <br>
    {{form.submit(class='btn btn-secondary', style="margin-left:5px")}}

</form>

<hr>

<div class="container">

  <div class="row">

    <div class="col-sm-12">

      <table id="example" class="table table-striped table-bordered">

        <thead>
          <tr>
            <th scope="col">桌号#</th>
            <th scope="col">操作</th>
          </tr>
        </thead>
        <tbody>

          {% for table in open_tables %}
          <!-- start of table body -->
          <tr>
            <td>{{ table }}</td>
            <td>
              <span>
                <button type="button" class="btn btn-info">
                  <a href={{ url_for('admin_view_table', table_name=table) }} style="color: rgb(247, 249, 252)">
                    详情
                  </a>
                </button>
              </span>
              <span>
                <button type="button" class="btn btn-info">
                  <a href={{ url_for('admin_transfer_table', table_name=table) }} style="color: rgb(247, 249, 252)">
                    转台
                  </a>
                </button>
              </span>
              <span>
                <button type="button" class="btn btn-info">
                  <a href="#" style="color: rgb(247, 249, 252)">
                    分台
                  </a>
                </button>
              </span>
            </td>
          </tr>
          <!-- end of table body -->
          {% endfor %}


        </tbody>
      </table>

    </div>

  </div>

</div>




{% endblock %}



{% block scripts %}
<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
{% endblock %}
