{% extends 'waiter_admin.html' %}


{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<style>
    .column {
      float: left;
      width: 21%;
      margin-left: 30px;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;}

    .a {color: rgb(247, 249, 252)

    }

    #back{

      margin-left: 912px;
      margin-bottom:20px;

    }

</style>
{% endblock %}


{% block title %}

<h1 class="h3 mb-2 text-gray-800">{{title}}</h1>

{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}

  {% if messages %}

    {% for message in messages %}

    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>

    {% endfor %}

  {% endif %}

{% endwith %}



<hr>

<div class="container">

  <div class="row">

    <div class="col-sm-12">

      <table id="example" class="table table-striped table-bordered">

        <thead>
          <tr>
            <th scope="col">跑堂名称</th>
            <th scope="col">跑堂账号</th>
            <th scope="col">负责分区</th>
            <th scope="col">操作</th>
          </tr>
        </thead>
        <tbody>

          <!-- start of table body -->
          {% for section in open_sections %}
          <tr>
            <td>{{sections2users.get(section).alias}}</td>
            <td>{{sections2users.get(section).username}}</td>
            <td>{{section}}</td>

            <td style="text-align:right">
              <span>
                <button type="button" class="btn btn-info" style="border-color:#26a69a; background-color:#26a69a;">
                  <a href={{ url_for('revenue_view_auth',
                  user_name=sections2users.get(section).username,
                  section=section) }} style="color: rgb(247, 249, 252)">
                    查看
                  </a>
                </button>
              </span>
            </td>
          </tr>
          {% endfor %}
          <!-- end of table body -->



        </tbody>
      </table>

    </div>

  </div>

</div>
<br>
<button type="button" class="btn btn-secondary" id="back">
  <a href={{ url_for('waiter_admin') }} style="color: rgb(247, 249, 252)">
    返回
  </a>
</button>




{% endblock %}



{% block scripts %}
<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
{% endblock %}
