

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <title class="lan_Welcome_Head">欢迎使用Xstar餐饮系统</title>


    <meta charset="utf-8">

    <link rel="stylesheet" href={{ url_for('static', filename="old_css/Main.css") }}>

    <link rel="stylesheet" href={{ url_for('static', filename="old_css/index.css") }}>

  </head>
  <body class="body">

      <div class="part">
          <div class="part1"></div>

			  <div class="right_img_con">
				  <div class="right_img">
					<button id="Order" onclick="check()">
						<img class="img1" src="../img/wydc.png"/>
					</button>

					<button id="DrinkOrder" onclick="drink()">
						<img class="img2" src="../img/jsyl.png"/>
					</button>

					<button onclick="pay();">
						<img class="img3" src="../img/wyjz.png"/><span id="orderCount" class="bages"></span>
					</button>

					<button onclick="Callservice()">
						<img class="img4" src="../img/fwyxd.png"/>
					</button>
				  </div>
			  </div>
        <div class="part3">
      			  Wenn Sie auf die Schaltfläche Start klicken, können Sie das automatische Bestellsystem von Buffet verwenden. Die entsprechende Mahlzeitgebühr wird nach Klicken dieses Knopfes berechnet. Bitte achten Sie darauf, den QR-Code an anderen Orten nicht zu scannen, da das Scannen des QR-Codes an anderen Standorten zu einer erneuten Rechnungsstellung führt. Dieses System speichert keine privaten Daten, die mit Ihnen verknüpft sind. Es werden nur Kunden-IDs für die einmalige Verwendung zur Differenzierung generiert.
        </div>
      </div>

    <script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>
    <script src={{ url_for('static', filename="old_js/Strings.js") }} charset="utf-8"></script>
    <script src={{ url_for('static', filename="old_js/common.js") }} charset="utf-8"></script>
    <script src={{ url_for('static', filename="old_js/date.js") }} charset="utf-8"></script>
    <script src={{ url_for('static', filename="old_js/index.js") }} charset="utf-8"></script>
  </body>
</html>
