{% extends 'base.html' %}


{% block css %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href={{ url_for('static', filename='css/table_switch.css') }}>

<style>

  #back {
    margin-left: 932px;
    margin-bottom:20px;
  }

  .form-control {
    width: 50%;
  }

</style>

{% endblock %}



{% block title %}


<h1 class="h3 mb-2 text-gray-800">{{title}}</h1>
<br>

{% endblock %}



{% block content %}


{% with messages = get_flashed_messages() %}

  {% if messages %}

    {% for message in messages %}

    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>

    {% endfor %}

  {% endif %}

{% endwith %}


<button type="button" class="btn btn-info" style="border-color:#26a69a; background-color:#26a69a;">
  <a href={{ url_for('add_dish') }} style="color: rgb(247, 249, 252)">
    新增
  </a>
</button>


<hr>

<div class="row">

    <div class="col-sm-12">

        <table id="example" class="table table-striped table-bordered">

      <thead>
        <tr>
          <th scope="col">菜品名称</th>
          <th scope="col">中文名称</th>
          <th scope="col">分类</th>
          <th scope="col">类型</th>
          <th scope="col">点菜次数</th>
          <th scope="col">图片</th>
          <th scope="col">状态</th>
          <th scope="col">价格 €</th>
          <th scope="col">操作</th>
        </tr>
      </thead>
      <tbody>
      {% for dish in dishes %}
        <tr>
          <td>{{ dish.name }}</td>
          <td>{{dish.cn_description}}</td>
          <td>{{ dish.category }}</td>
          <td>{{dish.class_name}}</td>
          <td>{{order_counts.get(dish.name).get('counts', 0)}}</td>
          <td>
            <img src={{ url_for('static', filename="img/"+dish.image) }} alt="" height="42" width="50">
          </td>

          <td>

            <div class="onoffswitch">
              {% if dish.inUse %}
              <input type="checkbox" name="onoffswitch" checked class="onoffswitch-checkbox" id={{ dish.id }}>
              {% else %}
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id={{ dish.id }}>
              {% endif %}
              <label class="onoffswitch-label" for={{ dish.id }} >
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
              </label>
            </div>

          </td>

          <td>{{ dish.price_gross }}</td>
          <td style="text-align:right">
            <span>
              <button type="button" class="btn btn-info" style="border-color:#26a69a; background-color:#26a69a;">
                <a href="{{ url_for('edit_dish', dish_id=dish.id) }}" style="color: rgb(247, 249, 252)">
                  修改
                </a>
              </button>
            </span>
            <span>
              <button type="button" class="btn btn-danger">
                <a href="{{ url_for('remove_dish', dish_id=dish.id) }}" style="color: rgb(247, 249, 252)">
                  删除
                </a>
              </button>
            </span>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    </div>

</div>
<br>

<button type="button" class="btn btn-secondary" id="back">
  <a style="color: rgb(247, 249, 252)" href={{ referrer }}>
    返回
  </a>
</button>


{% endblock %}


{% block scripts %}



<script>
    $(document).ready(function() {
    $('#example').DataTable({
      'order': [[4, "desc"]]
    });
} );
</script>


<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src={{ url_for('static', filename='js/toggle_dish.js') }}></script>

{% endblock %}
