{% extends 'base.html' %}


{% block css %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

<style>


  #back {

    margin-left: 932px;
    margin-bottom: 20px;
    color: rgb(247, 249, 252);
  }

  table {
    text-align: center;
  }




</style>
{% endblock %}


{% block title %}



<h1 class="h3 mb-2 text-gray-800">{{ title }}</h1>

{% endblock %}



{% block content %}


{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
  <p>{{ message }}<p>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="row">


    <div class="col-sm-12">

        <table id="example" class="table table-striped table-bordered">

      <thead>
        <tr>
          <th scope="col">Bestell-Nr.#</th>
          <th scope="col">生成时间</th>
          <th scope="col">总金额 €</th>
          <th scope="col">操作</th>
          <!-- <th scope="col">状态</th> -->
        </tr>
      </thead>
      <tbody>
      {% for order in orders %}
        <tr id={{ order.id }}>
          <th scope="row">{{ order.id }}</th>
          <td>{{ order.timeCreated }}</td>
          <td>{{ formatter(order.totalPrice) }}</td>
          <td style="text-align:right">
            <span>
              <button type="button" class="btn btn-info" style="border-color:#26a69a; background-color:#26a69a;">
                <a href={{ url_for('takeaway_order_view', order_id=order.id) }} style="color: rgb(247, 249, 252)">
                  查看
                </a>
              </button>
            </span>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    </div>

</div>


<br>

<button type="button" class="btn btn-secondary" id="back">
  <a href="{{referrer}}" style="color: rgb(247, 249, 252)">
    返回
  </a>
</button>


{% endblock %}


{% block scripts %}



<script>
    $(document).ready(function() {
    $('#example').DataTable({
      'order':[['0', 'desc']]
    });
} );
</script>


<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

{% endblock %}
