{% extends 'base.html' %}


{% block css %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<style media="screen">


    #back{

      margin-left:815px;
      margin-bottom:20px;
    }


</style>
{% endblock %}




{% block title %}


<h1 class="h3 mb-2 text-gray-800">{{title}}</h1>
<br>

{% endblock %}



{% block content %}

{% with messages = get_flashed_messages() %}

  {% if messages %}

    {% for message in messages %}

    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>

    {% endfor %}

  {% endif %}

{% endwith %}


<button type="button" class="btn btn-info">
  <a href={{ url_for('add_category') }} style="color: rgb(247, 249, 252)">
    新增
  </a>
</button>



<hr>

<div class="row">


    <div class="col-sm-12">


        <table id="example" class="table table-striped table-bordered">

      <thead>
        <tr>
          <th scope="col">分类名称</th>
          <th scope="col">种类名称</th>
          <th scope="col">计量单位</th>
          <th scope="col">操作</th>

        </tr>
      </thead>
      <tbody>
      {% for cate in categories %}
        <tr>
          <th scope="row">{{ cate.get("Subcategory", '') }}</th>
          <td>{{ cate.get("Class") }}</td>
          <td>{{ cate.get("Unit") }}</td>
          <td style="text-align:center">
            <span>
              <button type="button" class="btn btn-info"><a href={{ url_for('edit_category', subcategory=cate.get("Subcategory", '') ) }} style="color: rgb(247, 249, 252)">修改</a></button>
            </span>
            <span>
              <button type="button" class="btn btn-danger"><a href={{ url_for('remove_category', subcategory=cate.get("Subcategory", '') ) }} style="color: rgb(247, 249, 252)">删除</a></button>
            </span>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    </div>

</div>
<br>

<button type="button" class="btn btn-secondary" id="back">
  <a href={{ url_for('all_dishes') }} style="color: rgb(247, 249, 252)">
    返回
  </a>
</button>


{% endblock %}


{% block scripts %}



<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>


<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

{% endblock %}
