{% extends 'base.html' %}


{% block css %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

{% endblock %}

{% block title %}


<h1 class="h3 mb-2 text-gray-800">账号验证</h1>


{% endblock %}


{% block content %}

<h3 class="h3 mb-2 text-gray-800">{{title}}</h3>

{% with messages = get_flashed_messages() %}

  {% if messages %}

    {% for message in messages %}

    <div class="alert alert-warning" role="alert">
        {{ message }}
    </div>

    {% endfor %}

  {% endif %}

{% endwith %}

<form action='' method="POST" enctype="multipart/form-data">


    {{ form.hidden_tag() }}

    <div class='form-group'>

        <p>

          {{form.username.label}}<br>
          {{form.username}}

        </p>

        <p>
          {{form.password(placeholder="请输入该账号密码")}}
        </p>

        <p>

            {{ form.submit(class='btn btn-info')}}

            <button type="button" class="btn btn-secondary">
              <a style="color: rgb(247, 249, 252)" href={{ url_for('buffet_price_settings') }}>
                  取消
              </a>
            </button>


        </p>

    </div>

</form>


{% endblock %}


{% block scripts %}

<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

{% endblock %}
