{% extends "base.html" %}

{% block css %}

  <style media="screen">



    #back {
      margin-left: 815px;
      margin-bottom:20px;
    }

  </style>


{% endblock %}



{% block title %}


<h1 class="h3 mb-2 text-gray-800">{{title}}</h1>


{% endblock %}


{% block content %}


{% with messages = get_flashed_messages() %}

  {% if messages %}

  <div class="container">

    {% for message in messages %}

    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>

    {% endfor %}

  </div>

  {% endif %}

{% endwith %}


<form action='' method="POST" enctype="multipart/form-data">

    {{ form.hidden_tag() }}

    <div class='form-group'>

        <p>
            {{ form.username.label }} <br>
            {{ form.username(
              class='form-control',
              style="width: 50%",
              placeholder='请输入用户名') }}
        </p>

        <p>
          {{ form.alias.label }}<br>
          {{ form.alias(
              class='form-control',
              style="width: 50%",
              placeholder='请输入姓名') }}
        </p>


        <p>

          {{ form.account_type.label }}<br>
          {{ form.account_type(
              class='form-control',
              style="width: 50%",
              placeholder='请输入姓名') }}

        </p>


        {% if user.permissions == 1 %}

          <p>当前账号类型: 跑堂</p>

        {% else %}

          <p>当前账号类型: 外卖</p>

        {% endif %}



        <p>

          {{ form.section.label }}<br>
          {{ form.section(
              class='form-control',
              style="width: 50%") }}
        </p>


        {% if section %}

          <p>当前负责分区: {{section}}</p>

        {% endif %}

        <p>
            {{ form.submit(class='btn btn-info', style="border-color:#26a69a; background-color:#26a69a;")}}
            <button type="button" class="btn btn-secondary">
              <a href={{ url_for('users_manage') }} style="color: rgb(247, 249, 252)">
                取消
              </a>
            </button>
        </p>

    </div>

</form>
<br>
<button type="button" class="btn btn-secondary" id="back">
  <a style="color: rgb(247, 249, 252)" href={{ referrer }}>
    返回
  </a>
</button>


{% endblock %}
