{% extends "base.html" %}


{% block css %}

<style>


    #back{

      margin-left:815px;
      margin-bottom:20px;

    }

</style>




{% endblock %}


{% block title %}


<h1 class="h3 mb-2 text-gray-800">{{title}}</h1>

{% endblock %}


{% block content %}

<form action='' method="POST" enctype="multipart/form-data">


    {{ form.hidden_tag() }}

    <div class='form-group'>


        <p>
            {{ form.name.label }} <br>
            {{ form.name(class="form-control", style="width:50%")}}
        </p>


        <p>
            {{ form.cn_name.label }} <br>
            {{ form.cn_name(class="form-control", style="width:50%")}}
        </p>


        <p>

            当前图片<br>

            <img src="{{ image }}">

        </p>


        <p>

            {{ form.category.label }}<br>
            {{ form.category(class="form-control", style="width:50%")}}

        </p>


        <p>
          {{form.class_name.label}}<br>
          {{ form.class_name(class="form-control", style="width:50%") }}
        </p>


        <p>

          {{ form.eat_manner.label }}<br>
          {{ form.eat_manner(class="#", style="width:50%") }}

        </p>



        <p>

            {{ form.price.label }}<br>
            {{ form.price(class="form-control", style="width:50%")}}

        </p>


        <p>

            {{ form.description.label }}<br>
            {{ form.description(class="form-control", style="width:50%")}}

        </p>


        <p>

            <label for="file">更新菜品图片</label>
            <input type='file' class='form-control-file' name='file'>

        </p>


        <p>

            {{ form.submit(class='btn btn-info', style="border-color:#26a69a; background-color:#26a69a;")}}
            <button type="button" class="btn btn-secondary">
              <a href="{{ referrer }}" style="color: rgb(247, 249, 252)">
                取消
              </a>
            </button>

        </p>



    </div>


</form>
<br>
<button type="button" class="btn btn-secondary" id="back">
  <a href="{{ referrer }}" style="color: rgb(247, 249, 252)">
    返回
  </a>
</button>






{% endblock %}
