{% extends 'base.html' %}


{% block css %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

{% endblock %}

{% block title %}


<h1 class="h3 mb-2 text-gray-800">{{ title }}</h1>

{% endblock %}


{% block content %}

<h3 class="h3 mb-2 text-gray-800">确定删除菜品{{dish.name}}?</h3>

<br>

<form action='' method="POST" enctype="multipart/form-data">


    {{ form.hidden_tag() }}

    <div class='form-group'>

      <p>
        <img src={{ url_for('static', filename="img/"+dish.image) }} alt="" height="100" width="115">
      </p>

      <p>

          {{ form.submit(class='btn btn-danger')}}

          <button type="button" class="btn btn-secondary">
            <a style="color: rgb(247, 249, 252)" href={{ referrer }}>
                取消
            </a>
          </button>

      </p>

    </div>


</form>






{% endblock %}


{% block scripts %}

<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

{% endblock %}
