{% extends 'base.html' %}


{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<style>
    .column {
      float: left;
      width: 21%;
      margin-left: 30px;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;}

    .a {color: rgb(247, 249, 252)

    }


    .form-group > p {
      display: inline-block;
    }
</style>
{% endblock %}


{% block title %}

<h1 class="h3 mb-2 text-gray-800">日结</h1>
<hr>


{% endblock %}

{% block content %}


<form action='' method="POST" enctype="multipart/form-data">


    {{ form.hidden_tag() }}

    <div class='form-group'>


        <p>
            {{ form.start_date.label }} <br>
            {{ form.start_date(style="width: 100%", class='form-control') }}
        </p>


        <p>

          {{ form.end_date.label }}<br>
          {{ form.end_date(
              class='form-control',
              style="width: 100%") }}

        </p>



        <p>

            {{ form.submit(class='btn btn-secondary')}}

        </p>



    </div>







</form>





<div class="container">



        <div class="card">
          <div class="card-body">
            <div class="card-header">
              外卖
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span>
                  卡帐€:
                </span>
                <span>
                  {{ out.get('Total_Card') }}
                </span>
              </li>
              <li class="list-group-item">
                <span>
                  现金€:
                </span>
                <span>
                  {{ out.get('Total_Cash') }}
                </span>
              </li>
              <li class="list-group-item">
                <span>
                  总计€:
                </span>
                <span>

                  {{out.get('Total')}}

                </span>
              </li>
          </ul>

        </div>

      </div>

      <br>


      <div class="card">
        <div class="card-body">
          <div class="card-header">
            AlaCarte
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span>
                卡帐€:
              </span>
              <span>

                {{ alacarte.get('Total_Card') }}

              </span>
            </li>
            <li class="list-group-item">
              <span>
                现金€:
              </span>
              <span>
                {{ alacarte.get('Total_Cash') }}
              </span>
            </li>
            <li class="list-group-item">
              <span>
                总计€:
              </span>
              <span>

                {{alacarte.get('Total')}}

              </span>
            </li>
        </ul>

      </div>

    </div>


    <br>
    <div class="card">
      <div class="card-body">
        <div class="card-header">
          汇总
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span>
              卡帐€:
            </span>
            <span>

              {{ alacarte.get('Total_Card') + out.get('Total_Card') }}

            </span>
          </li>
          <li class="list-group-item">
            <span>
              现金€:
            </span>
            <span>
              {{ alacarte.get('Total_Cash') + out.get('Total_Cash') }}
            </span>
          </li>
          <li class="list-group-item">
            <span>
              总计€:
            </span>
            <span>

              {{alacarte.get('Total') + out.get('Total')}}

            </span>
          </li>
      </ul>

    </div>

  </div>


</div>





<br>


<button type="button" class="btn btn-danger" style="margin-left:800px">
  <a href={{ referrer }} style="color: rgb(247, 249, 252)" >
    返回
  </a>
</button>
<br>
<br>




{% endblock %}



{% block scripts %}
<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
{% endblock %}
