{% extends "base.html" %}


{% block title %}

{% block css %}

<style>

    form {
      width:50%;
    }


    #back {
      margin-left: 815px;
      margin-bottom:20px;
    }


</style>

{% endblock %}



<h1 class="h3 mb-2 text-gray-800">{{title}}</h1>

{% endblock %}



{% block content %}

{% with messages = get_flashed_messages() %}

  {% if messages %}

    {% for message in messages %}

    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>

    {% endfor %}

  {% endif %}

{% endwith %}

<form action='' method='POST' enctype="multipart/form-data" novalidate>



    {{ form.hidden_tag() }}

    <div class='form-group'>


        <p>
            {{ form.store_name.label }} <br>
            {{ form.store_name(class="form-control")}}
        </p>


        <p>
            {{ form.city.label }}<br>
            {{ form.city(class="form-control")}}
        </p>

        <p>

            {{ form.street.label }}<br>
            {{ form.street(class="form-control")}}

        </p>



        <p>

            {{ form.street_no.label }}<br>
            {{ form.street_no(class="form-control")}}

        </p>



        <p>
            {{ form.country.label }}<br>
            {{ form.country(class="form-control") }}
        </p>


        <p>

            {{ form.zip.label }}<br>
            {{ form.zip(class="form-control")}}

        </p>


        <p>

            {{ form.tax_id.label }}<br>
            {{ form.tax_id(class="form-control") }}
        </p>


        <p>
            {{ form.tax_rate_takeaway.label }}税率<br>
            {{ form.tax_rate_takeaway(placeholder='请输入小数', class="form-control")}}
        </p>

        <p>
            {{ form.tax_rate_InHouse.label }}税率<br>
            {{ form.tax_rate_InHouse(placeholder='请输入小数', class="form-control")}}
        </p>

        <p>
            {{ form.buffet_mode.label }}<br>
            {{ form.buffet_mode(class="form-control")}}
        </p>


        <p>
            {{ form.jp_buffet_time_buffer.label }}<br>
            {{ form.jp_buffet_time_buffer(placeholder='请输入整分钟数', class="form-control")}}
        </p>

        <p>
            {{ form.order_times.label }}<br>
            {{ form.order_times(placeholder='请输入整数轮次, 例如10', class="form-control")}}
        </p>

        <p>
            {{ form.order_limit_per_round.label }}<br>
            {{ form.order_limit_per_round(placeholder='请输入最大点餐数, 例如5', class="form-control")}}
        </p>

        <p>

          {{ form.business_hours_start_morning.label }}<br>
          {{ form.business_hours_start_morning(class="form-control") }}

        </p>

        <p>

          {{ form.business_hours_end_morning.label }}<br>
          {{ form.business_hours_end_morning(class="form-control") }}

        </p>

        <p>

          {{ form.business_hours_start_evening.label }}<br>
          {{ form.business_hours_start_evening(class="form-control") }}

        </p>

        <p>

          {{ form.business_hours_end_evening.label }}<br>
          {{ form.business_hours_end_evening(class="form-control") }}

        </p>

        <p>

          {{form.public_tunnel_url.label}}
          {{ form.public_tunnel_url(class="form-control") }}


        </p>


         <p>
            {{ form.logo.label }}<br>
            {{ form.logo()}}
        </p>

        <p>
          <span>当前LOGO</span><br>

          <span>

            <img src={{ url_for('static', filename="img/" + logo ) }} alt="">

          </span>


        </p>
        <br>

        <p>

            {{ form.submit(class='btn btn-info', style="border-color:#26a69a; background-color:#26a69a;")}}

            <button type="button" class="btn btn-secondary">
              <a style="color: rgb(247, 249, 252)" href={{ referrer }}>
                取消
              </a>
            </button>

        </p>



    </div>

</form>

<br>
<button type="button" class="btn btn-secondary" id="back">
  <a style="color: rgb(247, 249, 252)" href={{ referrer }}>
    返回
  </a>
</button>








{% endblock %}
