{% extends "base.html" %}

{% block css %}

  <style media="screen">



    #back {
      margin-left: 815px;
      margin-bottom:20px;
    }

  </style>


{% endblock %}


{% block title %}


<h1 class="h3 mb-2 text-gray-800">修改跑堂密码</h1>
<hr>
{% endblock %}


{% block content %}

<form action='' method="POST" enctype="multipart/form-data">

    {{ form.hidden_tag() }}

    <div class='form-group'>

        <p>
            {{ form.username.label }} <br>
            {{ form.username(
              class='form-control',
              style="width: 50%",
              placeholder='请输入用户名',
              readonly="readonly") }}
        </p>

        <p>
          {{ form.alias.label }}<br>
          {{ form.alias(
              class='form-control',
              style="width: 50%",
              placeholder='请输入姓名',
              readonly="readonly") }}
        </p>

        <p>
            {{ form.password.label }}<br>
            {{ form.password(
              class='form-control',
              placeholder="请输入新密码",
              style='width: 50%')}}
        </p>


        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(
              class='form-control',
              placeholder="请输入新密码",
              style='width: 50%')}}
        </p>


        <p>
            {{ form.submit(class='btn btn-info')}}
            <button type="button" class="btn btn-secondary">
              <a href={{ referrer }} style="color: rgb(247, 249, 252)">
                取消
              </a>
            </button>
        </p>
    </div>


</form>

<br>
<button type="button" class="btn btn-secondary" id="back">
  <a style="color: rgb(247, 249, 252)" href={{ referrer }}>
    返回
  </a>
</button>






{% endblock %}
