{% extends 'base.html' %}


{% block css %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<style media="screen">

    #back {
      margin-left: 815px;
      margin-bottom:20px;
    }

</style>
{% endblock %}



{% block title %}


<h1 class="h3 mb-2 text-gray-800">{{title}}: {{table_name}}-{{seat_number}}</h1>
<br>

{% endblock %}



{% block content %}


<div class="container">


  <p>QRCode</p>

  <p>

    <img src={{ url_for('static', filename='qrcode/' + qrcode) }} alt="">

  </p>

  <p>

    桌子: {{table_name}}

  </p>

  <p>
    座位号: {{seat_number}}

  </p>

  <p>

    Web URL:

    <a href="{{base_url}}{{ url_for('guest_navigate', table_name=table_name, seat_number=seat_number) }}">

      {{base_url}}{{ url_for('guest_navigate', table_name=table_name, seat_number=seat_number) }}

    </a>

  </p>

  <p>

    Local URL:

    <a href="{{localhost}}{{ url_for('guest_navigate', table_name=table_name, seat_number=seat_number) }}">

      {{localhost}}{{ url_for('guest_navigate', table_name=table_name, seat_number=seat_number) }}

    </a>

  </p>

</div>
<br>
<button type="button" class="btn btn-secondary" id="back">
  <a style="color: rgb(247, 249, 252)" href={{ referrer }}>
    返回
  </a>
</button>








{% endblock %}


{% block scripts %}



<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>


<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

{% endblock %}
